.badge-container {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.sold-out{
    background-color: #e0e0e0;
    color: #9e9e9e;
    text-decoration: line-through;
}

.critical {
    background-color: #fff3e0;
    border-color: #ff9800;
    color: #e65100;
}

.normal {
    background-color: #ffffff;
}